body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 34%, rgba(212,55,196,1) 100%);
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    letter-spacing: 2px;
}

.pp{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 250px;
    justify-content: center;
}
img{
    border-radius: 60px;
    border: 5px solid #c742b9;
}
.head{
    text-align: center;
}
.profile-name{
    text-align: center;
    font-size: 50px;
}

.links{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid white;
    border-width: 2px;
    border-radius: 12px;
    width: 300px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: white;
    transition: color 1s;
    box-shadow : 0 0 5px white;
}
a:hover{
    color: black;
    background: white;
}
